.screen-header {
    display: flex;
    justify-content: space-between;
    padding: var(--horizontal-space);
    padding-top: 50px;
    align-items: center;
    margin-bottom: 15px;
}

.screen-header__title{
    font-size: 28px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 32px;
    position: relative;
}

.screen-header__dot {
    bottom: 22px;
    right: -8px;
}

@keyframes rotateGear {
    from{
        transform: none;
    }
    to{
        transform: rotateZ(360deg);
    }
}

.screen-header__icons .fa-gear:hover {
    animation: rotateGear 2s linear infinite;
}